*{
	box-sizing: border-box;

}
body{
	background-color: #FEF5CA;
	background-image: url("bg.jpg");

}
hr {
  border-color: white;
}
row{
	width: 50%;
	float: left;
}

.heading{
	font-size: 1.3rem;

}